*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary */
  --primary-color-dark: #071b26;
  --primary-color: #0d2a3a;
  --primary-color-light: #1f3f52;

  /* secondary */
  --secondary-color-dark: #6f0c0c;
  --secondary-color: #9b1111;
  --secondary-color-light: #c33a3a;

  /* tertiary */
  --tertiary-color-dark: #c7771e;
  --tertiary-color: #eea234;
  --tertiary-color-light: #f0cc8a;

  /* grey */
  --gray-1: #f2f2f2;
  --gray-2: #e6e6e6;
  --gray-3: #d9d9d9;
  --gray-4: #bfbfbf;
  --gray-5: #a6a6a6;
  --gray-6: #8c8c8c;
  --gray-7: #737373;
  --gray-8: #595959;
  --gray-9: #404040;

  /* other color */
  --black: #000000;
  --white: #ffffff;
  --off-white: #f8f8f8;
  --low-opacity-white: rgba(248, 248, 248, 0.7);

  /* fonts */
  --font-body: "Inconsolata", monospace;
  --font-heading: "Arvo", serif;

  /* common colors */
  --background-color: var(--primary-color);
  --text-color: var(--off-white);
}

html {
  font-size: 62.5%;
  margin-top: 0;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-body);
  line-height: 1.6;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: 0.02em;
}
